.pokemon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10%;
  width: 100%;
}

.right-side {
  text-align: right;
  width: 10%;
  font-size: 20px;
}

.left-side {
  text-align: left;
  width: 10%;
  font-size: 20px;
}

.vs {
  font-size: 32px;
  text-align: center;
}

.winner {
  margin-top: 20px;
  text-align: center;
  margin-left: 45%;
  width: 10%;
}
